body{background-color: beige;}
#titulo{
    background-color: aqua;
}
#facebook{
    background-color: darkseagreen;
}
#snapchat{
    background-color: coral;
}
#whatsapp{
    background-color: khaki;
}
#tiktok{
    background-color: bisque;
}
#instagram{
    background-color: aquamarine;
}